.card {
	width: 50%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	figure {
		width: 40%;
		margin: 0 2%;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	h1 {
		width: 60%;
		font-family: Arial;
		font-size: 2em;
		text-align: center;
	}
}
